main {
    width: 100%;
    height: 100vh;
    max-width: 1540px;
    margin: 0 auto;
}

.register-form__content,
.login-form__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px 15px;
    max-width: 1230px;
}

.register-form__heading .login-form__heading {
    margin: 10px auto;
    text-align: center;

}

.register-form__heading h2,
.login-form__heading h2 {
    margin: 10px auto;
    font-size: 40px;
}

.form__group {
    background-color: white;
    width: 40%;
    margin: 0 20px;
    padding: 0 20px 0 20px;
}

.form {
    margin: 0 auto;
    width: 100%;

}

.form__group-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    list-style: none;
    white-space: nowrap;
    padding: 0;
}

.form__group-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
}

.form__item-label {
    width: 100px;
    margin-right: 30px;
}

.form__item {
    width: 100%;
    height: 30px;
}

.form__error {
    color: red;
    font-size: 13px;
}

.form__group-item-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.form__button-submit {
    background-color: rgb(227, 51, 51);
    width: 100%;
    padding: 5px;
    color: white;
    font-size: 1.0rem;
    border: none;
}

.form__button-submit:hover {
    background-color: rgb(202, 116, 116);
}

/* verify-email.blade.php対応 */
.email__resend {
    background-color: rgb(219, 255, 212);
    color: green;
}
.mail__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}

.mail-guidance1 , .mail-guidance2 {
    margin: 3px;
}

.mail-guidance2 {
    margin-bottom: 50px;
}

.mail__verify-button {
    background-color: rgb(224, 224, 224);
    text-decoration: none;
    border: solid 1px black;
    padding: 10px;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.mail__verify-button:hover {
    background-color: rgb(184, 184, 184);
}

.email__resend-button {
    background-color: white;
    margin-top: 30px;
    border: none;
    color: rgb(46, 46, 255);
    font-size: 15px;
    cursor: pointer;
}